
.quiz{
    margin: auto 0;
    grid-column: 2/3;
    padding: 2rem!important;
    display: grid;
    grid-template-rows: 5rem 1fr 5rem auto;
    grid-gap: 1rem;
    min-height: 25rem;
}

.quizHeader{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz p{
    margin: auto 0;
}

.quizButtons{
    display: flex!important;
    flex-grow: 1!important;
}

.quizButtons button{
    width: 100%;
    height: 4rem;
}

.quitButton{
    align-self: flex-start;
    font-size: 1.4rem!important;
    border: none!important;
    background-color: none!important;
}

.icon{
    border-radius: 50%;
    padding: 0.2rem;
}

.selected{
    background-color: var(--secondary-color)!important;
    color: white!important;
}

.MuiLinearProgress-bar{
    color: red!important;
    background-color: var(--primary-color)!important;    
}

.correct{
    background-color: var(--positive-color)!important;
}

.wrong{
    background-color: var(--negative-color)!important;    
}

.quizInitial{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizGrid{
    min-height: 45rem;
    display: grid;
    grid-template-columns: 1fr minmax(40rem,1fr) 1fr;
    grid-gap: 1rem;
}
.quizGrid > div{
    padding: 1rem;
}

.questionHeader{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between!important;
    align-items: center;
}

.quizResults{
    grid-column: 1/3;
    display: grid;
    grid-template-rows: auto minmax(20rem, 1fr) auto;
    grid-gap: 1rem;
}

.quizResultButtons{
    display: grid!important;
    grid-template-columns: 1fr 1fr;
}

.exerciseScore{
    max-height: 43rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.quizSlider{
    padding:  1rem 2rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 10rem;
    align-items: center;
    justify-items: center;
}

.exerciseScore h2{
    margin-bottom: 2rem;
}

.largeScore{
    height: 15rem!important;
    width: 15rem!important;
}

.smallScore{
    height: 8rem!important;
    width: 8rem!important;
}

.smallScoreText{
    font-size: 2rem!important;
}

.largeScoreText{
    font-size: 4rem!important;
}

.categoryChart{
    grid-column: 2/5;
    min-height: 30rem;
}

.exerciseCompleted{
    grid-column: 1/3;
    display: grid;
    grid-template-rows:5rem 1fr; 
}

.exerciseCompletedHeader{
    display: flex;
    justify-content: space-between;
}

.exerciseCompletedFooter{
    display: flex;
    justify-content: space-between;
}

.competedQuiz{
    font-size: 1rem;
}




@media only screen and (max-width: 800px) {

    .quizInitial{
        grid-column: 1/2;
        height: 100%;
        padding: 0!important;
        margin: 0!important;
    }

    .quiz{
        grid-column: 1/2;
    }
    
    .quizGrid{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0!important;
        min-height: 10rem;
        height: 100%;  
    }

    .exerciseCompletedHeader h2{
        font-size: 1.4rem;
    }
    .exerciseCompleted{
        margin-top: 1rem;
        max-height: 40rem;
    }
  }