@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&display=swap');

html{
  font-size: 62.5%!important;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

:root{
  /* --primary-color:#DCDF51;
  --secondary-color:#777777;
  --positive-color:rgb(86, 223, 81);;
  --neutral-color:#E7EA5D;
  --negative-color:#DF5951;
  --background-color:#DEDEDE;
  --text-light:#DEDEDE;
  --text-dark:rgb(88, 88, 88);
  --light-color:rgb(131, 131, 131); */
  --primary-color:#4DA5EE;
  --secondary-color:#52677A;
  --positive-color:rgb(158, 223, 156);
  --neutral-color:#E7EA5D;
  --negative-color:rgb(223, 156, 156);
  --background-color:#DEDEDE;
  --text-light:rgb(236, 236, 236);
  --text-dark:rgb(88, 88, 88);
  --light-color:rgb(107, 128, 148);
}

body{
  font-family: 'Baloo Tamma 2', cursive;   
  font-size: 1.6rem;
  height: 100vh;
  color: var(--text-dark);
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}

.app{
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr 6rem;
  max-width: 100vw;
  width: 100vw;
  /* grid-template-rows: 6rem 100rem 6rem; */
}

h1{
  font-size: 4rem;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a{
  color: var(--text-light);
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.container{
  height: 100%;
  width: 1400px;
  max-width: 95vw;
  /* width: calc(100vw-2vw); */
  overflow: hidden;
  margin: auto;
}

.backButton{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.backButton svg{
  transform: scale(1.5);
  margin-left: 1.2rem;
}

.button{
  padding: 1rem;
  border-radius: 0.5rem;
  border:1px solid black;
  cursor: pointer;
}

.positive{
  color: var(--positive-color);
}

/* Header */
.header{
  height: 6rem;
  background-color: var(--secondary-color);
}

.header div{
  display: flex;
  width: 1400px;
  max-width: 100vw;
  justify-content: space-between;
}

.mainLogo{
  display: flex;
  margin-left: 1rem;
}

.mainNav ul{
  display: grid;
  grid-template-columns: repeat(5,auto);
  height: 6rem;
}

.mainNav ul li a{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.mainNav ul li a:hover{
  background-color: var(--light-color);
  
}

.googleLogin{
  align-self: center;
  transform: scale(0.8);
}

.logoutButton{
  display: flex;
  align-self: center;
  height: 3rem;
}

/* Footer */
.footer{
  background-color: var(--secondary-color);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}

.footer div{
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}

/* LandingScreen */
.landingScreen{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPageContainer{
  width: 60rem;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landingPageContainer a{
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 5rem;
  color: var(--secondary-color);
  border: 1px solid var(--light-color);
  border-radius: 0.5rem;
}

.landingPageContainer a:hover{
  background-color: rgb(235, 235, 235);
}

/* Example */
.example{
  min-width: 25rem;
}

.card{
  height: auto;
  padding: 1rem;
  margin-top: 1rem;
}

.assetsResult{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.resultBig{
  font-size: 4rem;
}

/* ScreenHeader */
.screenHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  grid-column: 1/3;
  /* border-bottom: 1px solid var(--light-color); */
}

.trainingStatus{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.trainingStatus div{
  background-color: var(--secondary-color);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  font-size: 4.5rem;
  margin-left: 2rem;
}

/* AcademyScreen */
.academyScreen{
  height: inherit;
  display: grid;
  grid-template-rows: auto 20rem 1fr;
  margin: 0 2rem;
}

.academyCoursesHeader{
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
  grid-column: 1/3;
}

.academyCourses{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(25rem, 1fr));
  grid-auto-rows: 35rem;
  grid-gap: 3rem;
} 

.academyCourse{
  height: inherit;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid var(--light-color);
  border-radius: 0.5rem;
  color: var(--text-dark);
  transition: box-shadow 0.2s;
}

.academyCourse:hover{
  box-shadow: 0px 0px 1px 1px var(--light-color);
}

.academyCourse:hover .academyCourseHeader{
  border-bottom: 1px solid rgb(112, 112, 112);
}

.academyCourseHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  transition: border-bottom 0.2s;
}

.academyCourseInfo{
  padding: 2rem;
}

.academyCourseFooter{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.categoryBook{
  transform: scale(4);
  color: var(--light-color);
}

/* AcademySection */
.academyCourseScreen{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0;
  grid-template-rows: 10rem 1fr;
  /* margin: 0 2rem; */
  /* overflow: hidden; */
}

.dropzone{
  position: relative;
  z-index: 1;
  background-color: lightgray;
}

.articleItem{

}

/* DragAndDrop */
.dragAndDrop{
  display: flex;
}

.droppableContainer{
  height: auto;
  background-color: var(--background-color);
  margin: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: 5rem 23rem auto;
  width: 250px;
  border-radius: 1rem;
  
}

.draggingAreaContainer{
  height: 23rem;
  max-height: 23rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(201, 201, 201);  
  overflow: hidden;
}

.draggingArea{
  padding: 1rem;
  padding-bottom: 0;
  max-height: 20rem;
  position: relative;
}

.dragAndDropHeader{
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.draggableItem{
  color: var(--text-light);
  border-radius: 0.2rem;
  font-size: 2.5rem;
  padding: 1rem;
  position: relative;
  opacity: 0.9;
  z-index: 1;
}

.dragAndDropInfoText{
  padding: 0.5rem;
}

.dndIcon{
  height: 0;
  position: absolute;
  margin-left: 10.5rem;
  margin-top: 10rem;
  transform: scale(16);
  color: rgb(161, 161, 161);
}

.starting{
  display: grid;
  grid-template-rows: 10rem 1fr; 
  background-color: white!important;
  border: none;
}

.starting div{
  border: none;  
}

.starting .dragAndDropHeader{
  margin-top: 2rem;
}

.starting div .draggingAreaContainer{
  height: 22rem!important;
  max-height: 22rem;
  overflow: hidden;
  border: none;  
}

/* AcademySections */
.academySections{
  grid-template-columns: 100%;
  height: 70vh;
  overflow: hidden;
}

.teste > div > div{
  overflow: hidden!important;
}

@media only screen and (max-width: 800px) {
  .academySections{
    display: grid;
    grid-template-columns: 100%;
    /* grid-auto-rows: inherit; */
    grid-gap: 20rem;
    height: 100vh;
  }
}

.sectionContainer{  
  max-width:inherit;
  height: inherit;
  min-height: 50rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* ArticleContent */
.article{
  width: inherit;
  height: 55rem;
}

/* ArticleNavigation */
.articleNavigationContainer{
  position: relative;
  top: 50%;
  right: 7rem;
  height: 0;
  z-index: 10;
}

.articleNavigation{
  margin-top: -20rem;
  padding: 0.7rem 0.5rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  width: 4.5rem;
  display: grid;
  grid-auto-rows: 4rem;
  grid-gap: 3rem;
  justify-content: center;
  background-color: white;
  border: 2px solid var(--background-color);
}

.articleNavigation button:hover{
  transition: background-color 0.2s; 
  background-color:rgb(199, 199, 199);
}

.articleNavButton{
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 0.3s border;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationIcon{
  transform: scale(2.5);
  color: var(--secondary-color);
  cursor: pointer;
}

.navigationCheckpoint{
  height:4rem;
  width: 4rem;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s border;
  cursor: pointer;
  outline: none!important;
}

.navigatioCheckpoint p{
  position: relative;
  top: 2px;
}

.unavailable{
  /* color: rgb(187, 187, 187); */
}

.available{
  /* background-color:var(--positive-color); */
}

/* .aalDemo{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-right: 5rem;
} */

.dragAndDropExercise{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.aalDemoResult{
  /* padding: 2rem; */
}

.aalDemoResult ul{
  display: grid;
}

.chartContainer{
  max-height: 40rem;
  height: 40rem;
  width: 1fr;
}

/* List */
.list li{
  width: 25rem;
  display: flex;
  justify-content: space-between;
}

.list li:last-child{
  border-top: 1px solid var(--light-color);
}

.smallList li{
  position: relative;
  width:13rem!important;
  /* flex-wrap: wrap; */
}

/* ExerciseStats */
.exerciseStats{
  padding: 2rem;
  display: grid;
}

.selected{
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.sectionArticles{
  margin: 3 0rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10,100%);
  transition: margin 0.4s;
  min-height: 50rem;
  height: auto;
}

.articleSubPage{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-right: 5rem;
}

.houseIcon{
  transform: scale(5);
  color: black;
}

.valueInvestingDemo{
  grid-column: 2/4;
  height: 30rem;
  width: 50rem;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 0 0;
}

.housePrices{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.housePrices .housePrice{
  width: 10rem;
  display: grid;
  grid-gap: 3rem;
  justify-items: center;
  margin-top: -4.5rem;
}

.valueInvestingDemo h2{
  position: relative;
  top: -0.5rem;
  left: -30rem;
}

.articleExerciseHeader{
  margin-top: 7rem;
}

.articleMiddle{
  margin:  auto 0;
  grid-column: 2/4;
}

.estimateHousePrice{
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 2rem 1fr auto;
}
.estimateHousePrice button{
  height: 3rem;
  padding: 0;
}

.exerciseContainer{
  margin-top: 10rem;
}

.articleExample{
  grid-column: 2/5;
  padding-right: 5rem;
}

.exampleGrid{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr; 
}

.shareExample{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: 5rem 20rem 3rem 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shareExample p{
  align-self: flex-start;
}

.shareExampleInput{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.shareExampleInput label{
  line-height: 20px;
}

.shareExampleNumber{
  font-size: 3rem;
}

.companyContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.exerciseQuestions{
  grid-column: 2/4;
  padding: 5rem;
}

.exerciseQuestion{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-bottom: 1px solid var(--background-color);
  margin-bottom: 3rem;
}

.exerciseQuestion li{
  font-size: 2rem;
  display: grid;  
  padding-bottom: 1rem;
}

.exerciseQuestion li:last-child input{
  font-weight: bold;
  font-size: 2rem;
  width: auto;
  padding: 0.5rem;
}

/* ArticleResults */
.articleResults{
  padding-top: 7rem;
}