@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&display=swap');

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

:root{
  --primary-color:#DCDF51;
  --secondary-color:#777777;
  --positive-color:#65DF51;
  --neutral-color:#E7EA5D;
  --negative-color:#DF5951;
  --background-color:#DEDEDE;
  --text-light:#DEDEDE;
  --text-dark:rgb(88, 88, 88);
  --light-color:rgb(131, 131, 131);
}

body{
  font-family: 'Baloo Tamma 2', cursive;   
  font-size: 1.6rem;
  height: 100vh;
  color: var(--text-dark);
}

.app{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr 6rem;
}

h1{
  font-size: 4rem;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a{
  color: var(--text-light);
  text-decoration: none;
}

.container{
  height: 100%;
  max-width: 1400px;
  margin: auto;
}

/* Header */
.header{
  height: 6rem;
  width: 100%; 
  background-color: var(--secondary-color);
}

.header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainLogo{
  display: flex;
}

.mainNav ul{
  display: grid;
  grid-template-columns: repeat(4,auto);
  height: 6rem;
}

.mainNav ul li a{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.mainNav ul li a:hover{
  background-color: var(--light-color);
}

/* Footer */
.footer{
  background-color: var(--secondary-color);
}

.footer div{
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

/* LandingScreen */
.landingScreen{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPageContainer{
  width: 60rem;
  display: flex;
  justify-content: space-around;
}

.landingPageContainer a{
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 5rem;
  color: var(--secondary-color);
  border: 1px solid var(--light-color);
  border-radius: 0.5rem;
}

.landingPageContainer a:hover{
  background-color: rgb(235, 235, 235);
}

/* SectionHeader */
.sectionHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.trainingStatus{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.trainingStatus div{
  background-color: var(--secondary-color);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  font-size: 4.5rem;
  margin-left: 2rem;
}

/* AcademyScreen */
.academyScreen{

}

.academyCategories{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(30rem, 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 3rem;
} 

.academyCategory{
  height: inherit;
  background-color: var(--background-color);
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 10rem;
  grid-template-rows: 1fr 1fr;
}

.academyCategory .trainingStatus{
  grid-column: 1/3;
}

.academyCategory a{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);  
  color: var(--primary-color);
}
