/* TextList */
.textList li{
  margin-bottom: 2rem;
}

.textList li button{
  margin-right: 1rem;
}

.formula{
  font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--background-color)!important;
  padding: 1rem;
  padding-top: 1.3rem;
  border-left: 0.5rem solid var(--secondary-color);
  max-width: 40rem;
}

.accordionDetails{
  display: grid!important;
  grid-template-columns: repeat(3,1fr)!important;
  height: auto!important;
}

.accordionWide{
  grid-column: 1/3;
}

.makeStyles-helper-375{
  word-break: normal;
}

.lowRisk{
  background-color: var(--secondary-color)!important;
  color: var(--positive-color)!important;
}

.mediumRisk{
  background-color: var(--secondary-color)!important;
  color: var(--neutral-color)!important; 
}

.highRisk{
  background-color: var(--secondary-color)!important;
  color: var(--negative-color)!important; 
}