/* TextList */
.textList li{
  margin-bottom: 2rem;
}

.textList li button{
  margin-right: 1rem;
}

.formula{
  font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--background-color);
  padding: 1rem;
  padding-top: 1.3rem;
  border-left: 0.5rem solid var(--secondary-color);
}