/* TextList */
.textList li{
  margin-bottom: 2rem;
  /* white-space: pre-wrap; */
}
.textList li h3{
  font-size: 2rem;
}

.textList li button{
  margin-right: 1rem;
}

.formula{
  font-size: 1.4rem;
  font-weight: bold;
  /* background-color: var(--background-color)!important; */
  padding: 1rem;
  padding-top: 1.3rem;
  border-left: 0.5rem solid var(--primary-color);
  max-width: 40rem;
}

.textListList li{
  margin: 0;
  /* font-weight: 500; */
}

.accordionDetails{
  display: grid!important;
  grid-template-columns: repeat(3,1fr)!important;
  height: auto!important;
}

.accordionWide{
  grid-column: 1/3;
}

.makeStyles-helper-375{
  word-break: normal;
}

.wordBreak{
  white-space: pre-line;
}

.lowRisk{
  background-color: var(--secondary-color)!important;
  color: var(--positive-color)!important;
}

.mediumRisk{
  background-color: var(--secondary-color)!important;
  color: var(--neutral-color)!important; 
}

.highRisk{
  background-color: var(--secondary-color)!important;
  color: var(--negative-color)!important; 
}

.newLine {
  white-space: pre-wrap;
}

.prosAndConsList{
  padding: 0.5rem;
}

.prosAndCons{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 1rem;
}

.prosAndCons svg{
  position: relative;
  bottom: 0.2rem;
  height: 3rem;
  width: 3rem;
}

.shareInputIcon{
  top: 0.5rem;
  position: relative;
  height: 3rem!important;
  width: 3rem!important;
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

.shareInputCard{
  padding: 1rem!important;
}

.shareInputs{
  margin-top: 1rem;
  padding: 1rem;
  display: grid;
  grid-gap: 4rem;
  max-width: 30rem;
}

.shareInputs li h2{
  font-size: 2.4rem;
  height: 2.5rem;
}

.sharePriceInput{
  display: grid;
  font-size: 3rem;
  font-weight: 500;
  grid-template-columns: 1fr 5rem;
}

.shareInput input{
  font-size: 3rem!important;
  text-align: right;
  height: 4rem;
}

.numberInput input{
  font-size: 3rem!important;
  text-align: right;
  height: 4rem;
}

.numberInput label{
  font-size: 2.4rem!important;
}

.shareInputSlider{
  position: relative;
  top: -1.4rem;
}

@media only screen and (max-width: 800px) {
  .shareInputSlider{
    position: relative;
    top: -2.2rem;
  }

  .shareInputs{
    max-width: none;
    grid-gap: 0;
  }
}