
.sectionHeader h2{
    margin-right: 2rem;
}

.sectionContentContainer{
    height: 100%;
    overflow-y: auto; 
}

.sectionContentContainer > div{
    padding: 2.4rem;
}

.sectionGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.sectionGrid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridCenter{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .sectionContentContainer{
        padding: 0;
        max-width: 100vw;
    }
    .sectionGrid{
        grid-template-columns: 1fr;
    }
  }