
.sectionHeader h2{
    margin-right: 2rem;
}

.sectionContentContainer{
    padding: 2rem;
    height: calc(100% - 4rem);
    /* height: calc(100vh - 328px); */
    overflow-y: auto; 
}

.sectionContentContainer > div{
    /* padding: 2.4rem; */
}

.sectionContentContainer > div > div{
    margin: 1rem 0rem;
}

.sectionGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1rem;    
    align-items: flex-start;
}

.sectionGrid1{
    display: grid;
    grid-template-columns: 1fr;
}
.sectionGrid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sectionGrid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridItemWide{
    grid-column: 1/3;
    margin-right: 2rem;
}

.gridCenter{
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.businessIcon{
    color:var(--secondary-color);
}

.MuiStepConnector-vertical {
    margin-left: 2rem!important;
    margin-bottom: 0.5rem;
    padding: 0!important;
}

.stepperButton{
    font-size: 0.5rem!important;
}

.MuiStepContent-root{
    margin-left: 2rem!important;    
}

.stepperContent{
    margin-left: 1rem!important;    
}

.stepperText span{
    font-size: 2rem!important;
}

.stepperIcon{
    color: var(--secondary-color);
    font-size: 4rem!important;
}

.stepperButtons{
    margin: 1rem;
}

.stepperButtons button{
    margin-right: 0.5rem;
}

.stepperButtons button span{
    font-size: 1rem!important;
}

@media only screen and (max-width: 800px) {
    .sectionHeader > div{
        padding: 0 0.5rem!important;
        margin: 0!important;
    }
    .sectionContentContainer{
        padding: 0!important;
        margin:  0 0.5rem!important;
        height: 100%;
        max-height: calc(100vh - 220px);
    }
    .largeSection{
        max-height: calc(100vh - 180px)!important;
    }

    .sectionGrid{
        overflow: hidden;
        padding: 0!important;
        margin: 0!important;
        grid-template-columns: 1fr;
    }
    .valueInvestingDemo{
        grid-column: 1/2;
        max-width: 100vw;
      }
      .houseChart{
          max-width: 100vw;
      }
      .tableOfContent{
        /* padding: 0!important; */
        margin: 0!important;
        grid-template-columns: 1fr;
    }
      .sectionGrid{
        padding: 0!important;
        margin: 0!important;
        grid-template-columns: 1fr;
    }
      .sectionGrid1{
        padding: 0!important;
        margin: 0!important;
        grid-template-columns: 1fr;
    }
      .sectionGrid2{
        padding: 0!important;
        margin: 0!important;
        grid-template-columns: 1fr;
    }
      .sectionGrid3{
        padding: 0!important;
        margin: 0!important;
        grid-template-columns: 1fr;
    }
      .recapGrid{
        padding: 0!important;
        margin: 0!important;
        grid-template-columns: 1fr!important;
    }
      .quizResults{
        padding: 0!important;
        margin: 0!important;
        grid-template-columns: 1fr!important;
    }
    .quizResultButtons{
        max-width: 95vw;
        margin-bottom: 5rem;
    }
    .exerciseScore{
        margin: 0;
        padding: 0;
    }
  }