.businessPlaygroundGrid{
    padding: 0 1rem;
}

.businessInputHeader{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.businessExampleCard{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 5rem;
    padding: 0.5rem 1rem ;
}

.businessExampleCard h2{
    font-size: 2rem;    
    grid-column: 1/3;
}

.businessExampleCardInput div input{
    font-size: 3rem!important;
    padding: 0;
}

.businessCardIcon{
    width: 4rem!important;
    height: 4rem!important;
    margin-bottom: 1.8rem;
    margin-left: auto;
}

.businessExampleResults{
    display: grid;
    padding: 1rem;
    /* height: 30rem; */
}

.businessExampleResults li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.businessExampleResults li:nth-last-child(2){
    border-top: 2px solid var(--light-color);
}

.businessInputMain{
    display: flex;
    align-items: center;
    margin-top: 9.5rem;
}

.businessInputValue{
    font-size: 4rem;
    padding: 1rem 0;
    margin-left: 5rem;
    grid-column: 1/2;
}

.businessMargin{
    font-size: 1.2rem;
    color: rgb(116, 116, 116);
}

.businessExampleResultsCard{
    grid-row:1/2;
    grid-column:3/4;
}

.businessExampleIcons{
    grid-column: 2/4;
}

.businessModelIcon{
    color:rgb(175, 175, 175)!important;
}

.exampleGrid{
  grid-column: 2/4;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr; 
  grid-gap: 2rem;
  align-items: start
}

.exampleGrid div p{
  padding: 2rem;
}

.shareExample{
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 65%;
  grid-template-rows: 5rem 20rem 5rem 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height:35rem;
}

.shareExample h2{
  font-size: 2rem;
}

.shareExample p{
  align-self: flex-start;
}

.shareExampleInput{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.shareExampleInput label{
  line-height: 20px;
}

.shareExampleNumber{
  font-size: 3rem;
}

.companyContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.exerciseContainer{
    margin-top: 10rem;
}

.houseIcon{
    transform: scale(5);
    color: var(--secondary-color);
}

.valueInvestingDemo{
    grid-column: 2/4;
    height: 35rem;
    width: 50rem;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 0 0;
}

.housePrices{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.housePrices .housePrice{
    width: 10rem;
    display: grid;
    grid-gap: 3rem;
    justify-items: center;
    margin-top: -4.5rem;
}

.valueInvestingDemo h2{
    position: relative;
    top: 4rem;
    left: 2rem;
}

.articleMiddle{
    margin:  auto 0;
    grid-column: 2/4;
}

.estimateHousePrice{
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 3.5rem 1fr auto;
    align-items: center;
}
.estimateHousePrice button{
    height: 3rem;
    padding: 0;
}

.aalDemoResult{
    margin-top: 1rem;
    padding: 1rem;
}
  
.aalDemoResult ul{
    display: grid;
}

/* AssetExample */
.example{
    min-width: 25rem;
}

.card{
    height: auto;
    padding: 1rem;
    margin-top: 1rem;
}

.assetsResult{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.resultBig{
    font-size: 4rem;
}

/* List */
.list li{
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.list li:last-child{
    border-top: 1px solid var(--light-color);
}

.smallList li{
    position: relative;
    width:13rem!important;
}

.earningsValuation{
    display: grid;
    grid-gap: 1rem;
    max-width: 40rem;
}

.incomeExpample{
    padding: 0 2rem;
    display: grid;
    grid-template-rows: repeat(4,10rem);
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1fr;
    background-color: var(--background-color)!important;
}

.incomeExpample svg{
    height:6rem;
    width: 6rem;
}

.padding{
    padding: 2rem;
}

.statementContent li{
    display: grid;
    grid-template-columns: 1fr 7rem auto;
    align-items: center;
}

.statementContent b{
    font-size: 1.8rem;
}

.statementCompany{
    color: var(--primary-color);
    font-size: 2.2rem!important;
}

.statementSubHeader{
    margin-top: 2rem;
}

.statementDate{
    font-size: 1.2rem;
}

.statementExample{
    height: var(--course-container-height);
    overflow-y: scroll;
}

.statementPlaceHolder{
    width: 2rem;
}

.timeLineHeader{
    text-align: center;
}

.incomeTimeLine{
    margin-top: 5rem;
}

@media only screen and (max-width: 800px) {

    .statementExample{
        height: 100%;
    }

    .businessInputHeader div h2, .MuiInput-input{
        font-size: 1rem!important;
    }

    .businessExampleCardInput{
        grid-column: 1/3;
    }
    .businessCardIcon{
        display: none!important;;
    }
    .MuiInputBase-input{
        font-size: 1rem!important;
    }
    .businessExampleResultsCard{
        grid-row:2/3;
        grid-column:1/2;
    }

    .businessExampleIcons{
        grid-column: 1/2;
        height: 2rem;
    }
    .businessInputMain{
        display: flex;
        align-items: center;
        margin-top: 0rem;
    }
    .businessInputMain h2{
        font-size: 2rem;
    }

    .exampleGrid{
        grid-column: 1/2;
        grid-template-columns:  1fr; 
        grid-gap: 1rem;
    }

}