/* Table Of Content */
.tableOfContent{
    margin-top: 2rem;
    padding: 0 2.4rem;
    display: grid;
    grid-gap: 3rem;
  }

  .sectionContent{
    overflow-y: scroll; 
    height: 40rem;  
    padding: 2.4rem;
  }
  
  .articleTerms{
    display: flex;
  }
  .articleTerms p{
    margin-right: 0.5rem;
    background-color: var(--background-color);
    padding: 0 0.5rem;
    padding-top: 0.2rem;
  }

  /* CourseRecap */
.recapScore{
    display: grid;
    grid-template-columns:repeat(5,20rem);
    grid-gap: 5rem; 
  }
  
.scoreContainer{
    height: 15rem;
    width: 20rem;
    padding: 1rem;
    background-color: var(--background-color);
}