/* Table Of Content */
.tableOfContent{
    margin-top: 2rem;
    padding: 0 2.4rem;
    display: grid;
    grid-gap: 3rem;
  }
  
  .articleTerms{
    display: flex;
  }
  .articleTerms p{
    margin-right: 0.5rem;
    background-color: var(--background-color);
    padding: 0 0.5rem;
    padding-top: 0.2rem;
  }

  /* CourseRecap */
.recapScore{
    display: grid;
    grid-template-columns:repeat(5,20rem);
    grid-gap: 5rem; 
  }
  
.scoreContainer{
    height: 15rem;
    width: 20rem;
    padding: 1rem;
    background-color: var(--background-color);
}

.courseContainer{
  max-height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
}

@media only screen and (max-width: 800px) {
  .courseContainer {
    grid-template-columns: 1fr;
  }

  .courseNav{
    position: fixed;
    bottom: 50%;
    right: -150px;
    z-index: 20;
  }
  .courseNav .MuiTabs-flexContainer {
    display: flex!important;
    flex-direction: column!important;
    background-color: rgba(255, 255, 255, 0)!important;
  }
}